<!-- <h2 id="title">Message Board</h2> -->
<head>
  <title>Message Board!</title>
</head>

<body>
<div id="wrapper">
  <header>
    <h1>Welcome to Message Board!</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
    <div id="content">
      {{outlet}}
    </div>
    <footer>Contact Us:Kendra Ash Fake:Address Fake: email</footer>
</div>
</body>
